<h1>Posez vos questions au queur dans la file !</h1>

<div>
  <%= @post.description %>
</div>
<div>
  <p> >> <%= @comments.last.content %> </p>
</div>

<%= link_to "Retour aux files d'attente", lines_path %>