<h1>Voci tous les posts relatifs à la file d'attente</h1>

<% @posts.each do |post| %>
  <%= post.description %>
  <%= link_to "Poser une question au queuer", new_line_post_comment_path(post.line, post) %>
<% end %>