// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #F7F7F7;
$yellow : #FFC107;
$dark-grey : #676767;
$title-font: 'Roboto', sans-serif;
$font: 'Open Sans', sans-serif;

body {
  background-image: image-url('pattern.png');
 }

.title {
  font-size: 2.5rem;
  color: $dark-grey;
  text-shadow: none;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: $title-font;
}

#events {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-default {
  border-color: #F7F7F7;
  margin-top: 10px;
  background-color: $yellow;
}

.btn-default a {
  color: white;
  text-decoration: none;
}

.queue {
  background: white;
  margin-top:20px;
  border:1px solid #f3f3f3;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.place {
  background: rgb(232, 232, 232);
  padding: 12px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(105, 105, 105);
}

.place a{
  text-decoration: none;
  color: $dark-grey;
}

.place a:hover{
  color: $yellow;
}

.time-btn {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.search-btn {
  margin-bottom: -15px;
}

.btn-default.home {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: $dark-grey;
}

.date {
  color: #121212;
  font-size: 16px;
}

#text {
  margin-top: 20px;
  background: rgba($yellow, 0.1);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fa-comment-o {
  color: $yellow;
}


.search p {
  font-size: 1.5rem;
  font-family: $font;
  color: white;
  font-weight: 700;
  // text-shadow: 0.5px 0.5px 0.5px #676767;
}

.search {
  width: 80%;
  background: rgba(#607D8B, 0.7);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0.5px 0.5px 0.5px $dark-grey;
}

#new {
  height: 40px;
  margin-top: 0px;
}

#image {
  margin-top: 5px;
}