$bg: #6BC5C3;
$color: #F2EFC2;
$yellow : #FFD620;
$title-font:'Pacifico', cursive;

.navbar-wagon {
  background: rgba($yellow, 0.9);
}

.navbar-wagon a {
  color: $color;
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: $yellow;
}

#wequeue {
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  font-family: $title-font;
  font-weight: 900;
  font-size: 3rem;
}

.dropdown-toggle li {
  color: #FFFFFF;
}

#bonjour {
  color: #FFFFFF;
}
