// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #F7F7F7;
$yellow : #FFC107;
$dark-grey : #676767;
$title-font: 'Roboto', sans-serif;
$font: 'Open Sans', sans-serif;


div.profile p {
  color: black;
}
