$title-font: 'Roboto', sans-serif;
$yellow : #FFD620;
$light-grey: #7F7F7F;
$green : #6BC5C3;
$font: 'Open Sans', sans-serif;

h1 {
  font-family: $font;
  font-weight: 900;
  font-size: 7rem;
  color: $yellow;
  text-shadow: 1px 0.6px 3px black;
}

h4 {
  font-family: $font;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 0.8px 3px black;
}

p {
  font-family: $font;
  color: white;
  font-size: 1.5rem;
}

.weq {
  font-family: $title-font;
}

.field {
  color: black;
}

.signin {
  margin-top: 30px;
  border: 1px solid none;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(black, 0.6);
}

.signin label {
  color: white;
}

.signin a {
  color: white;
}

.btn-default {
  color: black;
}

.btn-default:hover {
  background-color: $yellow;
}

.pic {
  background-image: image-url('queue.jpg');
  background-size: cover;
  background-position: top right;
  padding-top : 50px;
  padding-bottom: 80px;
}

.devise {
  background-color: transparent;
  border-color: white;
  margin-top: 0px;
}

.devise:hover {
  background-color: transparent;
  border-color: white;
}


.btn-default a {
  color: white;
  text-decoration: none;
}

#fb {
  background-color: transparent;
  margin-top: 0px;
  border-color: white;
}

.prez {
  background-color: #1F1D1D;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature {
  background: white;
  font-weight: 100;
  background-color: #FFD620;
  padding: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
/*  margin-left: 10px;
  margin-right: 10px;*/
  margin: auto;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

#definition {
  padding-bottom: 20px;
}

.feature p {
  color: black;
}

#logo {
  padding: 10px;
}

.fa-paper-plane{
  color: $yellow;
  padding-top: 30px;
  padding-bottom: 20px;
}

.moto p {
  font-weight: 700;
  font-size: 1.7rem;
}
